{% extends "user/base.html" %}

{% block title %}
    <title>Каталог</title>
{% endblock %}

{% block page %}
    <div id="title_div"><h1 class="text" id="title">Каталог</h1></div>
    <div id="catalog_menu_div">
        <!--<p class="small_dark_normal_text" style="margin-left: 10%; margin-top: 50px;">популярное</p>
        <p class="small_dark_normal_text" style="margin-left: 10%;">недорогое</p>-->
    </div>
    <form id="catalog_form" action="preview" method="post">
        {% csrf_token %}
        <input type="hidden" name="catalog_input" id="catalog_input" value="">
            <div id="catalog_gallery_div" style="overflow:auto;">
                <div class="row">
                    {% for image in images %}
                    <div class="col-sm-3 col-md-3">
                        <div class="thumbnail catalog" id="catalog_image{{ image.id }}">
                            <img src="{{ image.image_file.url }}" alt="">
                            <div class="caption">
                                <p> Автор: {{ image.author }}</p>
                                <p> Название: {{ image.title }} </p>
                                <p> ID: {{ image.id }} </p>
                                <p> Цена: {{ image.cost }}</p>
                                <button class="link_preview" id="{{ image.id }}">Просмотреть</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </input>
    </form>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $(".link_preview").click(function() {
                var image_id = $(this).attr('id');
                $("#catalog_input").val(image_id);
                $("#catalog_form").submit();
             });
        });
    </script>
{% endblock %}