{% extends "user/base.html" %}

{% block title %}
    <title>Конструктор</title>
{% endblock %}

{% block page %}
    <div id="title_div"><h1 class="text" id="title">Конструктор</h1></div>
    {% csrf_token %}
    <div style="position: relative; margin-top: 200px; margin-left: 20%; width: 60%;
        min-width: 300px; height: 300px;">
        <form enctype="multipart/form-data" action="construct" method="post"
              class="small_dark_normal_text" style="margin-left: 10%;">
            {% csrf_token %}
            <p class="small_light_normal_text"> {{ form.image_file.label_tag }}</p>
            <p class="small_light_normal_text">{{ form.image_file }}</p>
            <p class="small_light_normal_text"> {{ form.title.label_tag }}
            <p class="small_dark_normal_text">{{ form.title }}</p>
            <p class="small_light_normal_text">{{ form.extra_cost.label_tag }}</p>
            <p class="small_dark_normal_text">{{ form.extra_cost }}</p>
            <input class="btn default_button" type="submit" value="cоздать"/>
        </form>
    </div>
{% endblock %}