{% extends "user/base.html" %}

{% block title %}
    <title>Предмет создан</title>
{% endblock %}

{% block page %}
    <br>
    <div style="margin-top: 150px; margin-left: 25%; width: 50%; height: 200px; text-align: center;">
        <h1 class="large_light_bold_text">Успех!</h1>
        <br>
        <p class="small_light_normal_text"> Предмет создан.
            <br> После одобрения администратором <br> он будет добавлен в каталог.
        </p>
        <br>
        <a href="/user/construct">
            <button class="btn" style='display: inline-block; background-color: white; border-radius: 3px; height: 35px;'>
                <p class="small_dark_normal_text">Создать еще один предмет </p>
            </button>
        </a>
        <a href="/">
            <button class="btn" style='display: inline-block; background-color: white; border-radius: 3px; height: 35px;'>
                <p class="small_dark_normal_text">Перейти на главную </p>
            </button>
        </a>
    </div>
{% endblock %}