{% extends "user/base.html" %}

{% block title %}
    <title>Вход в учетную запись</title>
{% endblock %}

{% block page %}
    <div id="title_div"><h1 class="text" id="title">Вход</h1></div>
    <div style="margin-left: 20%; margin-top: 150px; width:40%;">
        <br>
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form enctype="multipart/form-data" method="post" action="login-user">
            {% csrf_token %}
            <!--{{ form.as_p }}-->
            <table>
                <tr>
                    <td><p class="small_light_normal_text">
                        {{ form.username.label_tag }}</p></td>
                    <td><p class="small_dark_normal_text">
                        {{ form.username }}</p></td>
                </tr>
                <tr>
                    <td><p class="small_light_normal_text">
                        {{ form.password.label_tag }}</p></td>
                    <td><p class="small_dark_normal_text">
                        {{ form.password }}</p></td>
                </tr>
            </table>
            <br>
            <input class="btn default_button small_dark_normal_text"
                   type="submit" value="войти"/>
        </form>
        <a href='/login/vk-oauth2'>
            <button class="btn default_button small_dark_normal_text"
                    style="margin-top: -55px; margin-left: 20%;">
                войти через ВКонтакте
            </button>
        </a>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
            $('#login_button').click(function() {
                /*$(this).css('background-color', 'red');*/
                var username = $("input[name='username']").val();
                var password = $("input[name='password']").val();
                alert(username);
                $.ajax({
                    url : "login-user",
                    type: "POST",
                    dataType: "json",
                    data: {'username' : username,
                        'password' : password
                    }
                });
            });
        });
    </script>
{% endblock %}