<!DOCTYPE html>
<html lang="en">
<head>
    <title>Самиздат</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/user/stylesheets.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/static/user/application.css">
    <link type="text/css" rel="stylesheet" href="/static/user/docs.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
    <body style="background-color: #0E1014;">
        <p class="navbar-text navbar-right" style="color: #d5ce99;">
            {% if user.is_authenticated %}
	            {% if user.first_name != "" %}
                    {{ user.first_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
            {% else %}
	            Гость
            {% endif %}
            <span class="glyphicon glyphicon-user"></span>
	        {% if user.is_authenticated %}
	            <a href='user/logout' class='navbar-link navbar_login'>Выйти</a>
	        {% else %}
	            <a href='user/login-user' class='navbar-link navbar_login'>Войти</a>
                <span class="glyphicon glyphicon-pencil"></span>
                <a href='user/register-user' class='navbar-link navbar_login'>Зарегистрироваться</a>
	        {% endif %}

            <span class="glyphicon glyphicon-shopping-cart"> </span>
            <a href="/user/order" class="navbar-link">Корзина</a>
            <span>
                <button class="btn default_button" style="background-color: #0E1014;"
                    id="message_button" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-envelope"></span> Сообщения
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                {% if user.is_authenticated %}
                                    {% if messages == '' %}
                                        <p> Нет сообщений</p>
                                    {% else %}
                                        {% for message in messages %}
                                            <p> {{ message.send_time }} {{ message.text }} </p>
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    <p>Вы не авторизованы</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </p>
    <br>
    <img id="logo_large" src="/static/user/logo2.png" alt=""
    style="margin-left: 25%; width: 50%;">
    {% if user.is_authenticated %}
        <h1 class='text menu'><a href='user/construct'>конструктор</a></h1>
    {% else %}
	    <h1 class='text menu'><a href='user/login-user'>конструктор</a></h1>
    {% endif %}
    <h1 class="text menu"><a href='user/catalog'>каталог</a></h1>
    <h1 class="text menu"><a href='user/shipping'>доставка и оплата</a></h1>
  </body>
</html>
