{% extends "user/base.html" %}

{% block title %}
    <title>Заказ</title>
{% endblock %}

{% block page %}
    <div id="title_div"><h1 class="text" id="title">Заказ</h1></div>
    {% if order.total_quantity == 0 %}
        <div id="order_div" style="position: relative; display: inline; float: left; margin-top: 50px; width: 80%; height: 400px;">
    {% else %}
        <div id="order_div" style="position: relative; display: inline; float: left; margin-top: 50px; width: 80%; height: 800px;">
    {% endif %}
         <div id="order_items_div">
             {% if order.total_quantity == 0 %}
                 <div style="margin-left: 5%; height: 100px; width: 90%; border: 1px solid white;">
                    <p class="small_light_normal_text"
                       style="margin-top:10px; margin-left:5%;">Нет заказов</p>
                    <a href='catalog'>
                        <button class="btn default_button small_dark_normal_text" style="margin-left:5%;">
                            перейти в каталог
                        </button>
                    </a>
                 </div>
             {% else %}
                 <div id="items" style="position: relative; float: left; margin-left: 5%;
                 width: 90%; height: 400px; overflow: auto;">
                 {% for item in order.item.all %}
                     <div id="item_div{{ item.id }}" style="width: 95%; border: 1px solid white;">
                         <div id="order_pic_div" style="position: relative; float: left;
                            margin-left: 5%; margin-top: 30px; width: 15%; height: 150px; min-width: 100px;">
                             <img src="{{ item.image.image_file.url }}" style="width: 100%; height: 100%;">
                         </div>
                         <div style="position: relative; margin-left: 25%; margin-top: 30px; width: 70%; height: 200px;">
                             <div class="order_square" style="background-color: {{ item.color }};">
                                 <p class="small_light_normal_text" style="color: {{ item.color }}">0</p>
                             </div>
                             <div class="order_square">
                                 <p class="small_light_normal_text" style="display:inline-block;"> {{ item.size }}</p>
                             </div>
                             <div class="order_square" style="background-color: white; display:inline-block; width:120px;">
                                 <p class="small_dark_normal_text" style="color: #0E1014;">
                                     {{ item.quantity }}x{{ item.image.cost }} = {{ item.cost }}</p>
                             </div>
                             <button id="{{ item.id }}" class="delete_item btn default_button"
                                 style="float: right; background-color: #0E1014;">
                             <p class="small_light_normal_text" style="color:white;">Удалить</p>
                             </button>
                         </div>
                     </div>
                 {% endfor %}
             {% endif %}
         </div>
         <div id="order_shipping_options_div" style="margin-left: 10%;">
             <p class="large_light_bold_text">Доставка</p>
             <p class="small_light_bold_text">Регион:</p>
             <input type="radio" name="region" value="moscow">
             <text class="small_light_normal_text" style="margin-left: 5%; margin-top: 10px;">Москва</text>
             <br>
             <input type="radio" name="region" value="other">
             <text class="small_light_normal_text" style="margin-left: 5%; margin-top: 10px;">другой</text>
             <br><br>
             <p class="small_light_bold_text">Адрес:</p>
             <textarea id="address" name="address" cols="50" rows="2"></textarea>
             <br><br>
             <button class="btn default_button small_dark_normal_text" id="order_save_button">
                 сохранить
             </button>
             {% if user.is_authenticated %}
                <a href="/user/payment/cart">
                    <button class="btn default_button small_dark_normal_text" style='margin-left: 5%'>
                        перейти к оплате
                    </button>
                </a>
             {% else %}
                <button class="btn default_button small_dark_normal_text" style='margin-left: 5%'
                        data-toggle="modal" data-target="#authModal">
                    перейти к оплате
                </button>
                <span>
                    <div id="authModal" class="modal fade in" tabindex="-1"
                        role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close"
                                        data-dismiss="modal" aria-hidden="true">
                                    </button>
                                    <p class="small_dark_normal_text">Вы не авторизованы</p>
                                    <a href='/user/register-user'>
                                        <button class="btn default_button small_light_normal_text"
                                                style="background-color: #0E1014;">
                                            зарегистрироваться
                                        </button>
                                    </a>
                                    <a href='/user/login-user'>
                                        <button class="btn default_button small_dark_normal_text"
                                                style="border: 1px solid black;">войти
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
                </a>
             {% endif %}
         </div>
    </div>
    </div>
    {% if order.total_quantity == 0 %}
        <div id="cart_div" style="display: inline; position: relative; float: right; margin-top: 50px;
            width: 20%; height: 500px; border-radius: 5px; background-color: #d5ce99;">
    {% else %}
        <div id="cart_div" style="position: relative; float: right; margin-top: 50px;
            width: 20%; height: 800px; border-radius: 5px; background-color: #d5ce99;">
    {% endif %}
        <h2 class="large_dark_normal_text" style="margin-left: 10%;">Корзина</h2>
        <div style="margin-left:10%; height: 80px; width: 40%; text-align: center;">
            <p id="total_quantity" class="large_dark_bold_text"
                  style="font-size: 30px;">{{ order.total_quantity }}</p>
            <br>
            <p class="small_dark_normal_text">товаров</p>
        </div>
        <br>
        <div style="margin-left:10%; height: 80px; width: 40%; text-align: center;">
            <p id="total_cost" class="large_dark_bold_text"
                  style="font-size: 30px;">{{ order.total_cost }}p</p>
            <br>
            <p class="small_dark_normal_text">на сумму</p>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
            $("#order_save_button").click(function() {
                var address = $("#address").val();
                var region = $("input[name=region]:checked").val();
                $.ajax({
                    url: "save-order-options",
                    type: "GET",
                    dataType: "json",
                    data: {
                        'region': region,
                        'address': address
                    }
                });
            });
            $(".delete_item").click(function() {
                var id = $(this).attr('id');
                var item_div_id = '#item_div' + id;
                $(item_div_id).hide();
                alert('Предмет удален');
                $.ajax({
                    url: "delete-item",
                    type: "POST",
                    data: {
                        'id': id
                    },
                    dataType: "json",
                    success: function(data) {
                        var new_total_cost = data['new_total_cost'];
                        var new_total_quantity = data['new_total_quantity'];
                        $('#total_cost').html(new_total_cost);
                        $('#total_quantity').html(new_total_quantity);
                        if (new_total_quantity == 0) {
                            $("#order_div").css("height", "400px");
                            $("#cart_div").css("height", "400px");
                            $(".no_items").show();
                            $("#items").hide();
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
