{% extends "user/base.html" %}

{% block title %}
    <title>Предмет создан</title>
{% endblock %}

{% block page %}
    <br>
    <div style="margin-top: 150px; margin-left: 25%; width: 50%; height: 200px; text-align: center;">
        <h1 class="large_light_bold_text">Успех!</h1>
        <br>
        <p class="small_light_normal_text"> Платеж завершен. <br>
            Мы сообщим, когда ваш заказ будет готов.
        </p>
        <br>
        <a href="/">
            <button class="btn default_button small_dark_normal_text">
                Перейти на главную
            </button>
        </a>
    </div>
{% endblock %}