{% extends "user/base.html" %}

{% block title %}
    <title>Заказ</title>
{% endblock %}

{% block page %}
    <br>
    <div style="margin-top: 150px; margin-left: 25%; width: 50%; height: 200px; text-align: center;">
        <h3 class="large_light_normal_text" style="margin-left: 5%;">К оплате:</h3>
        <p class="small_light_normal_text" style="margin-left: 5%;">{{ paypal_dict.amount }} {{ paypal_dict.currency_code }}</p>
        <br><br>
        <p class="small_light_normal_text" style="margin-left: 5%;">Оплатить через PayPal:</p>
        <div style="margin-left: 5%;">
            {{ form.render }}
        </div>
    </div>
{% endblock %}
