{% extends "user/base.html" %}

{% block title %}
    <title></title>
{% endblock %}

{% block page %}
    <div id="title_div"></div>
    <div id="preview_pic_div">
        <img id="preview_pic" src="{{ image.image_file.url }}" style="width: 90%; height: 90%; margin-left: 5%; margin-top: 5%;" alt="">
    </div>
    <div id="preview_options_div">
        <h3 class="large_light_normal_text">Выберите цвет</h3>
        <br>
        <div id="black" class="preview_square color_square" style="background-color: black;"></div>
        <div id="white" class="preview_square color_square" style="background-color: white;"></div>
        <div id="red" class="preview_square color_square" style="background-color: red;"></div>
        <div id="yellow" class="preview_square color_square" style="background-color: yellow;"></div>
        <div id="green" class="preview_square color_square" style="background-color: green;"></div>
        <div id="blue" class="preview_square color_square" style="background-color: blue;"></div>
        <br><br>
        <h3 class="large_light_normal_text">Выберите размер</h3>
        <div id="XS" class="preview_square size_square"><p class="small_light_normal_text">XS</p></div>
        <div id="S"  class="preview_square size_square"><p class="small_light_normal_text">S</p></div>
        <div id="M"  class="preview_square size_square"><p class="small_light_normal_text">M</p></div>
        <div id="L"  class="preview_square size_square"><p class="small_light_normal_text">L</p></div>
        <div id="XL" class="preview_square size_square"><p class="small_light_normal_text">XL</p></div>
        <br><br>
        <h3 class="large_light_normal_text">Укажите количество</h3>
        <input type="number" class="form-control" name="item_quantity" style="width: 50%;" placeholder="0">
        <button id="preview_button" class="btn default_button small_dark_bold_text"
                style="margin-top: 15%;" data-toggle="modal" data-target="#cartModal">
            добавить в корзину
        </button>
        <span>
            <div id="cartModal" class="modal fade in" tabindex="-1"
                 role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-hidden="true">
                            </button>
                            <p id='feedback'>Предмет добавлен в корзину</p>
                            <a href='/user/catalog'>
                                <button class="btn modal_button default_button small_light_normal_text"
                                        style="background-color: #0E1014; color:white;">
                                    вернуться в каталог
                                </button>
                            </a>
                            <a href='/user/order'>
                                <button class="btn modal_button default_button small_dark_normal_text" style="border: 1px solid black;">
                                    перейти к заказу
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
            var size = "none";
            var color = "none";
            var quantity = 0;
            $('#xs').addClass('.clicked_square');
            $('#black').addClass('.clicked_square');
            $('.size_square').click(function() {
                $('.size_square').css('border', '1px solid #d5ce99');
                $('.size_square').css('height', '35px');
                $(this).css('border', '2px solid white');
                $(this).css('height', '36px');
                size = $(this).attr('id');
            });
            $('.color_square').click(function() {
                $('.color_square').css('border', '1px solid #d5ce99');
                $(this).css('border', '2px solid white');
                color = $(this).attr('id');
                $('#preview_pic_div').css('background-color', color);
            });

            $("#preview_button").click(function() {
                quantity = $("input[name='item_quantity']").val();
                if (quantity > 0 && color != 'none' && size != 'none') {
                    $('.modal_button').show();
                    $('#feedback').html('Предмет добавлен в корзину');
                    $.ajax({
                        url: "add-to-cart",
                        type: "GET",
                        dataType: "json",
                        data: {
                            'size': size,
                            'color': color,
                            'quantity': quantity,
                            'image_id': String({{ image.id }}),
                        }
                    });
                } else {
                    var reminder = "Вы не выбрали все опции";
                    if (quantity == 0) {
                        reminder = "Укажите количество";
                    } else {
                         if (color == "none") {
                             reminder = "Выберите цвет";
                         } else {
                             if (size == "none") {
                                reminder = "Выберите размер";
                             }
                         }
                    }
                    $('#feedback').html(reminder);
                    $('.modal_button').hide();
                }
            });
        });
    </script>
{% endblock %}