{% extends "user/base.html" %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block page %}
    <div id="title_div"><h1 class="text" id="title" style="font-size: 30px;">Регистрация</h1> </div>
    <br>
    <div style="margin-left: 20%; margin-top: 150px; width:40%;">
        <form enctype="multipart/form-data" action="register-user" method="post">
            {% csrf_token %}
            <!--{{ form.as_p }}-->
            <table>
                <tr>
                    <td><p class="small_light_normal_text">
                        {{ form.username.label_tag }}</p></td>
                    <td><p class="small_dark_normal_text">
                        {{ form.username }}</p></td>
                </tr>
                <tr>
                    <td><p class="small_light_normal_text">
                        {{ form.password.label_tag }}</p></td>
                    <td><p class="small_dark_normal_text">
                        {{ form.password }}</p></td>
                </tr>
                <tr>
                    <td><p class="small_light_normal_text">
                        {{ form.email.label_tag }}</p></td>
                    <td><p class="small_dark_normal_text">
                        {{ form.email }}</p></td>
                </tr>
            </table>
            <input class="btn default_button small_dark_normal_text" type="submit" value="зарегистрироваться"/>
        </form>
        <br>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
        });
    </script>
{% endblock %}
