{% extends "user/base.html" %}

{% block title %}
    <title>Доставка и оплата</title>
{% endblock %}

{% block page %}
    <div id="title_div"><h1 class="text" id="title">Доставка и оплата</h1></div>
    <h3 class="large_light_normal_text" style="margin-left: 25%; margin-top: 200px;">Москва(в пределах МКАД)</h3>
    <p class="small_light_normal_text" style="margin-left: 25%;">Доставляем курьером в течение дня, если заказ был сделан до 19:00.</p> 
    <p class="small_light_normal_text" style="margin-left: 25%;"> Стоимость доставки — 300 рублей</p>
    <h3 class="large_light_normal_text" style="margin-left: 25%;">Россия</h3>
    <p class="small_light_normal_text" style="margin-left: 25%;">Отправляем заказ почтой. Стоимость доставки — согласно тарифам Почты России</p>
    <br>
    <h3 class="large_light_normal_text" style="margin-left: 25%;">Оплатить заказ можно через электронную платежную систему PayPal</h3> </body>
{% endblock %}
