
/* ааАбббаЕаЛаИ аДаЛб аБаАаНаНаЕбаОаВ */
.banners-nav{
  width: 200px;
  height: 300px;
    margin: auto;
  margin-bottom: 20px;
}
.banners-top{
  width: 300px;
  height: 250px;
    margin: auto;
}

.banners-bottom{
  width: 240px;
  height: 400px;
    margin: auto;
  margin-top: 40px;
}
.no-padding{
  padding: 0;
}

@media (max-width: 560px){
  .col-xs-6{
    width: 100%;
  }
  .banners-nav{
    display:none!important;
  }
}

@media (min-width: 768px){
  .bs-docs-header {
    padding: 30px 15px;
  }
}

@media (max-width: 767px){
  .bs-docs-header {
    padding-top: 60px;
    padding-bottom: 60px;
  }

}
/* ааОаДбаЕбаКаИаВаАаНаИаЕ аВ sidebar */
.nav .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
/* абаМаЕаНаА баКбббаИб бббаЛаКаИ "аНаАаВаЕбб" аВ sidebar */
.back-to-top {
  display: block;
  margin-bottom: 15px;
}