@font-face {
    font-family: "CenturyGothicRegular";
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


body {
  background-color: #0E1014;
}

.text {
  color: #d5ce99;
  font-family: "CenturyGothicRegular";
  font-weight: bold;
}

.small_light_normal_text {
  position: relative;
  color: #d5ce99;
  font-family:"CenturyGothicRegular";
  font-weight: normal;
  font-size: 16px;
}

.large_light_normal_text {
  position: relative;
  color: #d5ce99;
  font-family: "CenturyGothicRegular";;
  font-weight: normal;
  font-size: 25px;
}

.small_light_bold_text {
  position: relative;
  color: #d5ce99;
  font-family: "CenturyGothicRegular";
  font-weight: bold;
  font-size: 16px;
}

.large_light_bold_text {
  position: relative;
  color: #d5ce99;
  font-family: "CenturyGothicRegular";
  font-weight: bold;
  font-size: 25px;
}

.small_dark_normal_text {
  position: relative;
  color: #0E1014;
  font-family: "CenturyGothicRegular";
  font-weight: normal;
  font-size: 16px;
}

.large_dark_normal_text {
  position: relative;
  color: #0E1014;
  font-family: "CenturyGothicRegular";
  font-weight: normal;
  font-size: 25px;
}

.small_dark_bold_text {
  position: relative;
  color: #0E1014;
  font-family: "CenturyGothicRegular";
  font-weight: bold;
  font-size: 16px;
}

.large_dark_bold_text {
  position: relative;
  color: #0E1014;
  font-family: "CenturyGothicRegular";
  font-weight: bold;
  font-size: 25px;
}

.default_button {
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  height: 35px;
  text-align: center;
}


.menu {
  margin-left: 30%;
  font-size: 36px;
}

#logo_small {
  width: 100%;
}

#logo_div {
  position: relative;
  float: left;
  width: 20%;
  height: 100px;
  min-width: 200px;
  max-width: 300px;
}

#title {
  margin-left: 15%;
  font-size: 48px;
}

#title_div {
  position: relative;
  margin-top: 0px;
  float: right;
  width: 70%;
  height: 100px;
}

#message_button {
  background-color: #0E1014;
  color: #d5ce99;
}

#catalog_menu_div {
    display: inline-block;
    position: relative;
  margin-top: 100px;
  float: left;
  width: 20%;
  height: 500px;
  border-radius: 5px;
  background-color: #d5ce99;
}

#catalog_gallery_div {
    display: inline-block;
  position: relative;
  float: right;
  width: 75%;
    margin-top: 100px;
  margin-right: 3%;
  height: 500px;
}

#preview_pic_div {
  position: relative;
  float: left;
    margin-top: 50px;
  width: 50%;
  max-width: 400px;
  height: 500px;
  border-radius: 5px;
  background-color: #d5ce99;
}

#preview_options_div {
  position: relative;
    margin-left: 0%;
    margin-top: 50px;
  float: right;
  width: 45%;
  height: 500px;
}

.color_square {
    position: relative;
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-top: -35px;
    border: 1px solid white;
    border-radius: 4px;
    border-width: 1px;
    text-align: center;
}

.size_square {
    position: relative;
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-top: -35px;
    border: 1px solid white;
    border-radius: 4px;
    border-width: 1px;
    text-align: center;
}

.order_square {
   position: relative;
    display: inline-block;
    height: 35px;
    width: 35px;
    border: 1px solid white;
    border-radius: 4px;
    border-width: 1px;
    text-align: center;
}

#order_shipping_options_div {
  position: relative;
  float: left;
  margin-top: 50px;
  width: 100%;
  height: 300px;
}

#payment_div {
  position: relative;
  background-color: #d5ce99; 
  margin-left: 5%; 
  margin-top: 50px;
  height: 300px;
  width: 35%; 
}

a {
  color: #d5ce99;
}

a:hover {
  color: white;
  text-decoration: none;
}

